#show-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#scroll-container {
  width: 50%;
  height: 95vh;
  overflow-y: scroll;
  text-align: center;
  margin: 15px 20px;
}

#list {
  padding: 10px;
  background-color: rgb(237, 237, 237);
  border-radius: 8px;
  margin-bottom: 20px;
}

#info-p {
  text-align: start;
}

#title-div {
  font-size: 1.8rem;
  font-weight: bold;
}

#writerContainerDiv-div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(195, 195, 195);
  padding: 10px 0;
}

#writerDiv-div {
  font-weight: bold;
  font-size: 0.9rem;
}

#dateDiv-div {
  color: rgb(150, 150, 150);
  font-size: 0.8rem;
}

#contentDiv-div {
  margin: 10px 0;
}

#profileImg-img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

#deleteContainer {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}

#deleteContainer input {
  padding: 5px;
  border: none;
}

.passwordInput {
  border-radius: 5px 0 0 5px;
}

#deleteBtn {
  border-radius: 0 5px 5px 0;
  border: none;
  font-weight: bold;
  color: white;
  background-color: #43b074;
  cursor: pointer;
}

@media (max-width: 800px) {
  #scroll-container {
    width: 80%;
  }
}
